<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>RegistrarProducto</display-name>
    <servlet-name>RegistrarProducto</servlet-name>
    <servlet-class>RegistrarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarProducto</servlet-name>
    <url-pattern>/RegistrarProducto</url-pattern>
  </servlet-mapping>
  <display-name>Ejercicio_Almacen</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registrar</display-name>
    <servlet-name>Registrar</servlet-name>
    <servlet-class>com.almacen.controller.Registrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrar</servlet-name>
    <url-pattern>/Registrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modificar</display-name>
    <servlet-name>Modificar</servlet-name>
    <servlet-class>com.almacen.controller.Modificar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modificar</servlet-name>
    <url-pattern>/Modificar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listar</display-name>
    <servlet-name>Listar</servlet-name>
    <servlet-class>com.almacen.controller.Listar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listar</servlet-name>
    <url-pattern>/Listar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eliminar</display-name>
    <servlet-name>Eliminar</servlet-name>
    <servlet-class>com.almacen.controller.Eliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eliminar</servlet-name>
    <url-pattern>/Eliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerarProductos</display-name>
    <servlet-name>GenerarProductos</servlet-name>
    <servlet-class>com.almacen.controller.GenerarProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerarProductos</servlet-name>
    <url-pattern>/GenerarProductos</url-pattern>
  </servlet-mapping>
</web-app>