<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>01_PrimerEjemplo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet01</display-name>
    <servlet-name>Servlet01</servlet-name>
    <servlet-class>com.curso.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet01</servlet-name>
    <url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario01</display-name>
    <servlet-name>ServletFormulario01</servlet-name>
    <servlet-class>com.curso.ServletFormulario01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario01</servlet-name>
    <url-pattern>/ServletFormulario01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario02</display-name>
    <servlet-name>ServletFormulario02</servlet-name>
    <servlet-class>com.curso.ServletFormulario02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario02</servlet-name>
    <url-pattern>/ServletFormulario02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario03</display-name>
    <servlet-name>ServletFormulario03</servlet-name>
    <servlet-class>com.curso.ServletFormulario03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario03</servlet-name>
    <url-pattern>/ServletFormulario03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormularioEjercicio01</display-name>
    <servlet-name>ServletFormularioEjercicio01</servlet-name>
    <servlet-class>com.curso.ServletFormularioEjercicio01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormularioEjercicio01</servlet-name>
    <url-pattern>/ServletFormularioEjercicio01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormularioEjercicio02</display-name>
    <servlet-name>ServletFormularioEjercicio02</servlet-name>
    <servlet-class>com.curso.ServletFormularioEjercicio02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormularioEjercicio02</servlet-name>
    <url-pattern>/ServletFormularioEjercicio02</url-pattern>
  </servlet-mapping>
</web-app>